<div class="container-fluid" >
    <div class="row " style=" padding:40px 100px;">
        <div *ngFor="let item of listproduct_parcat; let i=index" class="col-xs-6 col-sm-4 col-md-3">
            <div></div>
            <div class="borde ">
                <div class="relative ">
                    <img class="{{item.name}}" src="/assets/Image_Amoza/{{item.images[0].imageName}}" alt="">
                    <div class="desc">{{item.description}}</div>
                    <span class="badge hot absolute">hot</span>
                    <span class="badge sold absolute">-20%</span>
                    <div class="price">{{item.price}} &dollar;</div>
                    <div class="{{item.id}}" id="card" hidden>
                        <div id="box1">Add To Cart</div>
                        <div id="box2"><i class="fa-regular fa-heart"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
