 <footer class="py-30">
    <div class="container">
        <div class="footer-content flex jcsb gap-10 wrap py-30">
            <div class="footer-list">
                <h2>Contact Infos</h2>
                <div class="footer-item">
                    <h4>Adresse:</h4>
                    <p>Mohammedia , Maroc</p>
                </div>
                <div class="footer-item">
                    <h4>Phone:</h4>
                    <p>+212 635906793</p>
                </div>
                <div class="footer-item">
                    <h4>Email:</h4>
                    <p>momojr@gmail.com</p>
                </div>
                <div class="footer-item">
                    <h4>Working Days/Hours:</h4>
                    <p>Mon-Sun/9:00 AM - 8:00 PM</p>
                </div>
            </div>
            <div class="footer-list">
                <h2>CUSTOMERS SERVICES</h2>
                 <ul>
                    <li class="customer-service-item"><a href="#">Help & FAQs</a></li>
                    <li class="customer-service-item"><a href="#">Order Tracking</a></li>
                    <li class="customer-service-item"><a href="#">Shipping & Delivery</a></li>
                    <li class="customer-service-item"><a href="#">Orders History</a></li>
                    <li class="customer-service-item"><a href="#">Advanced Search</a></li>
                    <li class="customer-service-item"><a href="#">My Account</a></li>
                    <li class="customer-service-item"><a href="#">Carrees </a></li>
                    <li class="customer-service-item"><a href="#">About Us</a></li>
                    <li class="customer-service-item"><a href="#">Corporate Sales</a></li>
                    <li class="customer-service-item"><a href="#">Privacy</a></li>
                 </ul>
            </div>
            <div class="footer-list">
                <h2>POPULAR TAGS</h2>
                <div class="footer-tags">
                    <div class="tags">bags</div>
                    <div class="tags">black</div>
                    <div class="tags">blue</div>
                    <div class="tags">clothes</div>
                    <div class="tags">Fashion</div>
                    <div class="tags">Shirt</div>
                    <div class="tags">Shoes</div>
                    <div class="tags">Skirt</div>
                </div>
            </div>
            <div class="footer-list">
                <h2>SUBSCRIBE NEWSLETTER</h2>
                 <div class="footer-subscribe">
                    <p>
                        Get all the laatest information on events, sales and offers . Sign up for newsletter:
                    </p>
                    <div class="footer-input">
                        <input type="email" name="email" id="id" placeholder="Email Adress">
                    </div>
                    <button class="btn">subscribe</button>
                 </div>
                 
                </div>
            </div>
                <div class="footer-bottom flex jcsb py-30 wrap gap-10">
                    <div class="footer-bottom-left">
                        @ ecommerce. 2021. All Rights Reserved
                    </div>
                </div>
        </div>
      

  </footer>
