   
<div id="carouselExampleControls" class="carousel slide  relative" data-bs-ride="carousel">
  
    <div class="carousel-inner" style="height: 600px;width:1350px;margin-left:100px;margin-top:30px; background-color:red;">
       
      <div class="carousel-item active">
        <img src="../../../assets/Image_Amoza/Image_princi/IP1.jpg" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Image_Amoza/Image_princi/IP2.jpg" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Image_Amoza/Image_princi/IP3.jpg" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/Image_Amoza/Image_princi/IP4.jpg" class="" alt="...">
      </div>
    </div>
    <button   class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"style="color:black;background-color:red;" ></span>
        <span class="visually-hidden" >Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="color:black;background-color:red;"></span>
        <span class="visually-hidden">Next</span>
      </button>
    <div class="slider-content absolute">
        <h4>Find the Boundaries. Push Through!</h4>
        <h2>Summer Sale</h2>
        <h3>70% OFF</h3>
        <div class="slider-actions flex gap-25 ">
            <span style="font-size:20px;"> STARTING AT</span>
                <div class="price">
                    <span>
                        199.
                    </span>
                    <sup>99</sup>
                </div>
                <div class="shop-now btn" style="height: 40px;">
                    Shop Noww
                </div>
            
        </div>
    </div>
    </div>

