.featured-products-container{
    background-color: rgb(222, 220, 220);
}
.products-list{
    flex-wrap: wrap;
}
.product-item{
    width: 300px;
    margin-bottom:30px ;
    text-align: center;
}
.product-item:hover{
   cursor: pointer;
    transform: scale(1.1);


}
.product-item  .product-image{
    height: 400px;
    
}
.product-item  .product-image img{
    height: 100%;
    
}
.product-category{
    text-transform: uppercase;
    color: var(--main-color-gray);
}
.product-details{
    height: 150px;
    flex-direction: column;
}
.product-name h3{
   font-size: 1.2rem;
   margin-bottom: 5px;
}
.product-item i.selected{
    color: var(--main-color-orange)
}

.product-price h4{

    margin-bottom: 5px;
 }
 
 .product-item .product-price del{

   color:var(--main-color-gray) ;
 }

 .product-item .product-options button{
    border: none;
    background-color: var(--main-color-gray);
    color: white;
    height: 30px;
 }
 .product-item .product-options button:hover{
    background-color: var(--main-color);
    color: white;
   font-weight: bold;
 }
 span.badge{
    left: 10px;
    display: block;
    width: 40px;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    top: 20px;
    color: white;
  
 }
 span.badge.sold{
    top: 40px;
    background-color:var(--main-color-danger) ;
 }
 span.badge.hot{
    top: 10px;
    background-color:var(--main-color-success) ;
    text-transform: uppercase;
}

/***********MEDIA ********/


@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width:992px) {
   
   

}
@media screen and (max-width:768px) {
       .products-list{
        justify-content: center;
        margin-bottom: 5px;
       }
}
@media screen and (max-width:576px) {
  
}

@media screen and (max-width:427px) {
   .product-name{
    width: 90%;
   }
}




