.slider-image{
    background: url(/assets/images/groupe-enfants-eleves-du-primaire-sautant-dans-vetements-decontractes-colores-fond-studio-bicolore-collage-creatif-retour-ecole-education-concept-enfance-filles-garco.jpg) no-repeat ;
    height:600px;
    background-position-x:50%; 
}
.slider-content{
    top:5%;
    left: 10%;
    min-width: 25px;
    height: 200px;
    padding: 20px 0;
    white-space: nowrap;
}
.slider-content h4{
    font-size: 1.18rem;
    font-weight: 500;
    letter-spacing: 0.08rem;
    opacity: 0.7;
    margin: 0;
}
.slider-content h2{
    font-size: 2.31rem;
    letter-spacing: 0.08rem;
    white-space: nowrap;
    font-family: 'Segoe Script', 'Savoye LET',Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}
.slider-content h3{
    font-size: 5.9rem;
    margin-bottom: 10px;

}
.slider-content .slider-actions > span{
    font-weight: bold;
}
.slider-content .slider-actions .price{
    font-weight: bold;
    background-color: var(--main-color);
    color:var(--main-color-white);
    padding: 10px;
    font-size: 1.9rem;
    transform: rotate(-30deg);
}
.slider-content .slider-actions .shop-now.btn{
   background-color: var(--main-color-black); 
   color: white;
   border-radius: 0;
   height: 30px;
   line-height:30px;
   font-weight: bold;
   font-size: 1.2rem;
}
.slider-icon{
    top: 40%;
    width: 50px;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color-white);
    border-radius:50px ;
    cursor: pointer;
}
.slider-icon i{
    font-size: 1.5rem; 
    
}
.slider-icon:hover{
   
    background-color: var(--main-color-black);
   
}
.slider-icon.prev{
    left: 20px;
}
.slider-icon.next{
    right: 20px;
}
/***********MEDIA ********/
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width:992px) {
   
   

}
@media screen and (max-width:768px) {

    .slider-content{
        display: none;
    }
}
@media screen and (max-width:576px) {
  
}

@media screen and (max-width:427px) {
   
}






