<ng-container *ngIf="Produit.length!=0">



<div class="col">
<div id="items"  (mouseenter)="enterF(Product)" (mouseleave)="leave(Product)">
   
        <img class="{{Product.name}}" src={{Product.images[0]}} alt="">
     
          <div class="desc">{{Product.description}}</div>

          <div class="price">
           {{Product.price}} &dollar;
          </div>


        <div  class="{{Produit.id}}" id="card"  hidden>
            <div  id="box1" (click)="addCart(Produit)">Add To Card</div>

        <div  class="{{Product.id}}" id="card"  hidden>
            <div   id="box1" (click)="addCart(Product)">Add To Card</div>

            <div   id="box2" ><i class="fa-regular fa-heart"></i></div>
        </div> 
</div>

</div>




    
</div>
</ng-container>

