
<div id="items"  (mouseenter)="enterF(Produit)" (mouseleave)="leave(Produit)">
   
        <img class="{{Produit.name}}" src={{Produit.images[0]}} alt="{{Produit.images[1]}}">
     
          <div class="desc">{{Produit.description}}</div>

          <div class="price">
           {{Produit.price}} &dollar;
          </div>

        <div  class="{{Produit.id}}" id="card"  hidden>
            <div   id="box1">Add To Card</div>
            <div   id="box2" ><i class="fa-regular fa-heart"></i></div>
        </div> 

    
</div>