 #items{
    width: 300px;
    height: 450px;
    cursor: pointer;
   /*   margin-left: 40px;
    
     */

     margin-top: 80px; 
     margin-bottom: 80px;
     box-sizing: border-box;
} 

#box1{
    width: 250px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 50px;
    border: 1px solid  black;
}

#box2{
    width: 50px;
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    border: 1px solid  black;
}

#card{
    width: 300px;
    display: grid;
    grid-template-columns: 250px 50px;
    gap: 10px;
     
}
 
#items{

    /*  margin-top: 80px; 
    margin-bottom: 80px; */
  
    
}

.desc{
margin-top: 30px;
width: 300px;
height: 30px;
box-sizing: border-box;


}

.price{
width: 300px;
height: 30px;
box-sizing: border-box;
}


img{
  width: 300px;
  height: 400px;

}
.font{
    font-family:'Holtwood One SC';
}
#box1:hover{
    color: black;
    background-color: white;
}




i{

    color: white;
}




/* i:hover{
    color: black;
}  */

/* 
#box2:hover{
  background-color: white;
  
} */
