<form action="" [formGroup]="signinForm">

    <div class="container">
  
  
      
        
       
       <div class="input1">
         <input type="text"  id="Password1" placeholder="Name*" [formControl]="name">
       </div>

       <div class="input2">
         <input type="text"  id="Password1" placeholder="Last Name*" [formControl]="lastname">
       </div>


        <div class="input3">
        <input type="email"  id="Email1" placeholder="Email*" [formControl]="email">
        </div>


       <div class="input4">
        <input type="password"  id="Password1" placeholder="Password*" [formControl]="password">
      </div>
  
      <div class="create" (click)="onSubmit()">CREATE</div>
  
      <a href="" class="ab">Return to Store</a> 
    </div>
  
    
    
  </form>
  
  
