i{
    cursor: pointer;
    font-size: 1.2rem;
}
i:hover{
    color: var(--main-color);
}
.logo h2 a{
    display: block;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 30px 0px ;
}
.pages{
    height: 200vh;
}