<!-- <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide  *ngFor="let item of Produit" >
       <app-product-item   [Produit]="item"  >  </app-product-item> 
    </ng-template>
</owl-carousel-o>
 -->
<!-- <p class="para1">it's simple really... love is everything. <i class="fa-sharp fa-solid fa-heart"></i></p> -->



<!-- <div class="pic">

   <div class="pic1"> <img src="../../../assets/Image_Amoza/Image_princi/IP7.jpg" alt=""></div>
   <div class="pic2"><img src="../../../assets/Image_Amoza/Image_princi/IP8.jpg" alt=""></div>
  
   

</div> -->

<ng-container *ngIf="RandProduct2.length!=0 && RandProduct2.length!=0 && listproduct_parcat.length==0 ">

  <div class="container" >
    <div class="promo-container flex gap-10 jcc py-20">
        <div class="promo-item">
            <div class="promo-header flex aic jcc gap-10">
                <div class="promo-icon tc">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="promo-details tc">
                        <h3>FREE SHIPPING & RETURN</h3>
                        <p>Free shipping on all orders over 99MAD</p>
                    </div>
            </div>
            <div class="promo-image">
                <img src="../../../assets/Image_Amoza/Image_princi/330x330.jpg" alt="" srcset="">
            </div>

        </div>
        <div class="promo-item ">
            <div class="promo-header flex aic ">
                <div class="promo-icon tc">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="promo-details tc">
                        <h3>FREE SHIPPING & RETURN</h3>
                        <p>Free shipping on all orders over 99MAD</p>
                    </div>
            </div>
            <div class="promo-image">
                <img src="../../../assets/Image_Amoza/Image_princi/330x330.2.jpg" alt="" srcset="">
            </div>

        </div>
        <div class="promo-item ">
            <div class="promo-header flex aic ">
                <div class="promo-icon tc">
                    <i class="fa-solid fa-truck-fast"></i>
                </div>
                <div class="promo-details tc">
                        <h3>FREE SHIPPING & RETURN</h3>
                        <p>Free shipping on all orders over 99MAD</p>
                    </div>
            </div>
            <div class="promo-image">
                <img src="../../../assets/Image_Amoza/Image_princi/330x330.3.jpg" alt="" srcset="">

            </div>

        </div>
    </div>
     
    <div class="new-arrivals-products-container">
      <div class="new-arrivals-product">
          <div class="section-title" >
              <h2>News Arrivals</h2>
          </div>
  </div>
</div>
    <div id="" class="mb-20 container" style="margin-top:-70px;padding:0px 80px;">
      <div class="row">
             <app-product-item class="items"  *ngFor="let Product of RandProduct2" [Product]="Product" > 
        </app-product-item> 
     </div>
    </div>
</div>

<div class="container-fluid " style="margin-top: 50px;" >
 <div class="row">
  <div class="col-md-6"> 
   <img src="../../../assets/Image_Amoza/Image_princi/IP7.jpg" id="img1" alt="">
</div>
  <div class="col-md-6"> 
  
   <img src="../../../assets/Image_Amoza/Image_princi/IP8.jpg" id="img2" alt="" >

</div>
 <div class="box1">
 <p class="bx1">
   ON-THE-GO ACCESSORIES
 </p>

 <P class="bx2">
   PACKABLE STYLES
 </P>
 </div>
</div>
</div>

 <button  id="button1">
   SHOP NOW
</button>

<div class="banner-big-sale">
  <div class="container flex jcsb aic">
          <div class="banner-big-sale-btn btn">
              Big Sale
          </div>
          <div class="banner-big-sale-content ">
              ALL NEW FASHION BRANDS ITEMS UP TO 70% OFF
          </div>
          <div class="banner-big-sale-action btn ">
          View Sale
          </div>
  </div>
</div>
 <div class="box2">
   <p class="bx1">
      ON-THE-GO ACCESSORIES
    </p>

    <P class="bx2">
      PACKABLE STYLES
    </P>

   <button  id="button2">
      SHOP NOW
   </button>



 </div> 

<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
 

<div class="container-fluid" style="margin-top:-150px;padding:0px 50px;">
 
    <div class="row">
        <app-product-item class="items"  *ngFor="let Product of RandProduct" [Product]="Product" >
          
        </app-product-item>      
    </div>
</div>


<div class="choix">
  <div>
 <h2>Why choose AMOZA?</h2>
</div>


   <div class="container text-center" id="ftg">
     <div class="row">
      <div class="col-md-4">
       <i class="fa-regular fa-heart"></i>
       <p class="first">Virtual Fitting Room</p>
       <p>  Try on a style before you purchase</p>

      </div>

      <div class="col-md-4">
       <i class="fa-sharp fa-solid fa-child-dress"></i>
       <p class="first">Personalize Your Own</p>
       <p>Customize your very own dress</p>
      </div>

      <div class="col-md-4">
       <i class="fa-solid fa-truck-front"></i>
       <p class="first"> Free Shipping</p>
       <p>We can reach you wherever you are</p>
      </div>

    </div>
  </div>
</div>

</ng-container>
<ng-container *ngIf="listproduct_parcat.length!=0">
  <div class="container" style="padding:40px 90px;">
    <div class="row">

    <app-product-item class="items"  *ngFor="let Product of listproduct_parcat" [Product]="Product" > 
      <div class="col-md-4">

      </div>  
    </app-product-item> 
   </div>
  </div>
</ng-container>









  



 
  