/* .list{
     
    display: grid;
    grid-template-columns: auto auto auto auto ;
     gap: 5px; 
    
     margin-left: -30px; 
    

} */
/*BIG SALE*/



.banner-big-sale .container{
    background: url(../../../assets/Image_Amoza/Image_princi/img2.png) repeat-x ;
    height: 50px;
    padding: 5px 5px;
    margin-top: -115px;
}
.banner-big-sale-content{
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
}
.banner-big-sale .btn{
    border-radius: none;
    height: 35px;
    line-height: 15px;
    font-weight: bold;
    padding: 10px 5px;
    font-size: 1rem;
    white-space: wrap;
    
}
.banner-big-sale-btn.btn{
    background-color: #1d1d1d;
    color:white;
    transform: rotate(-10deg);
}

.banner-big-sale-action.btn{
    background-color:white; 
    color:#1d1d1d;
    transform: rotate(10deg);
}


/***********MEDIA ********/
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width:992px) {

  

}
@media screen and (max-width:768px) {
   .banner-big-sale-content{
    display: none;
   }
   .banner-big-sale .container{
        padding: 0px;
   }


}
@media screen and (max-width:576px) {
  
}

@media screen and (max-width:427px) {
   
}











/*ITEM*/

  

.items{

    width: 320px;
}




#pic{
    margin-top: 70px;
}

/* #img1:hover{

     transform: scale(1.03); 
    opacity: 1;
}*/
 
.box1{
    position: relative;
    z-index: 1;
    bottom: 400px;
    left: 70px;
    color: rgb(208, 206, 206);
}


.box2{

    position: relative;
    z-index: 1;
    bottom: 490px;
    left: 800px;
    color: rgb(208, 206, 206);
}

.bx2{
    font-size:45px ;
}

.bx1{
    margin:0px auto;
    
}




button{
    width: 140px;
    height: 50px;
    background-color: white;
    margin-left: 110px;
    border:1px solid white;
  
}



.choix{
    margin-top: 110px;
    margin-bottom: 90px;
    
}

.choix div h2{
    text-align: center;
    
}

#ftg{
    margin-top: 80px;
}


.first{
    font-size: 30px;
}


.para1{
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin-left: 500px;
}

.para1 i{
    font-size: 30px;
}





/* .list1{
     
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 5px;
} */




#img9{
  width: 1300px;
  margin-left: -30px;
  position: relative;
  right: 60px;
}

#button1{
    visibility: hidden;
    position: relative;
    top: -400px;
    left: 190px;

    cursor: pointer;

}

#button2{
    visibility: hidden;
    position: relative;
    
    top: -0px;
    left: -5px;

    cursor: pointer;
}