@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.site
{
    font-family: 'Holtwood One SC';
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 40px;
   
}