@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.site
{
   --main-color:#008080;
   --main-color-white:white;
   --main-color-gray:gray;
   --main-color-black:#1d1d1d;
   --main-color-orange:orange;
   --main-color-danger:red;
   --main-color-success:#2ba968;
   --main-color-footer:#212529;

    font-family: 'Holtwood One SC';
    color:#008080;
    text-shadow: 2px 2px orange;
    font-size: 40px;
   
}


.cat:hover{
  cursor: pointer;
  background-color: rgb(204, 203, 203);
  height:520px;

}

 .mega-item{
    min-width:250px;
    background-color:rgb(235, 232, 232);
    width: 200px;
    height: 400px;
    border-right: 1px solid rgb(235, 232, 232); 
   /*width:290px;height:300px; border-radius:20px */
 }
 a{
    text-decoration: none;
 }
